<ion-view hide-nav-bar="true">

  <ion-content class="padding">

    <figure id="projectsvg">
      <!--version="1.1"xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"-->
      <svg viewBox="0 0 772 1393">
        <image width="772" height="1393" xlink:href="img/planosimplificat.jpg"></image>
        <g>
          <rect ng-repeat="i in seats4" id="rect{{i}}" x="{{7 + (84 * i)}}" y="252" ng-click="anar('home')"></rect>
          <rect ng-repeat="i in seats4" id="rect{{i}}" x="{{7 + (84 * i)}}" y="354" ng-click="anar('home')"></rect>
        </g>
      </svg>
    </figure>

  </ion-content>

</ion-view>
