<ion-view hide-nav-bar="true">

  <!-- ////////// FOOTER BUTTONS ////////////////
  FOR SWITCHING COLLEAGUES (ASSIGNED/UNASSIGNED) -->

  <ion-footer-bar class="bar-stable">
    <div class="button-bar">
      <button class="button" ng-class="{'active': showAssigned == false}" ng-click="switchAssigned(false)">
        Assigned
      </button>
      <button class="button" ng-class="{'active': showAssigned == true}" ng-click="switchAssigned(true)">
        Unassigned
      </button>
    </div>
  </ion-footer-bar>

  <!-- ////////// SEARCH BAR //////////////// -->

  <ion-header-bar class="bar-subheader custom bar-stable">
    <input type="search"
           placeholder="Filter colleagues..."
           ng-model="search"
           ng-focus="searchFocused = true"
           ng-blur="searchFocused = false"
           ng-change="scrollTop()"
           class="full-width">
    <button ng-if="search.length"
            class="button button-icon ion-android-close input-button"
            ng-click="clearSearch()">
    </button>
  </ion-header-bar>

  <!-- /////////// COLLEAGUES LIST //////////////// -->

  <ion-content class="padding has-subheader custom">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="colleague in getColleagues() | filter:search">
        <!-- href="#/tab/chats/{{chat.id}}" -->
        <h2>{{colleague.colleague_name}}</h2>
        <!-- <p>{{colleague.id}}</p> -->
        <i class="icon ion-chevron-left icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="remove(colleague)">
          Todo
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
