<ion-header-bar class="bar-subheader bar-stable custom">
  <!-- ion-chevron-right -->
  <!-- <div class="ion-arrow-left-c row">Back</div>
  <div class="text-center row">
   Ricard Castelló <i class="ion-person"></i>
  </div> -->
  <button class="button button-icon ion-arrow-left-c" ui-sref="tab.colleagues"></button>
  <h4 class="title">Ricard Castelló</h4>
  <button class="button button-clear ion-android-create"></button>
</ion-header-bar>

<ion-view hide-nav-bar="true">
  <ion-content class="has-subheader custom">
    <div class="card">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-ios-home"></i>
        Seat
        <!-- <i class="icon ion-android-create"></i> -->
      </div>
      <div class="item item-text-wrap">
        068
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-android-settings"></i>
        Computer
      </div>
      <div class="item item-text-wrap">
        PCLLE055
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-monitor"></i>
        Screen
      </div>
      <div class="item item-text-wrap">
        MOLLE057
      </div>
    </div>
  </ion-content>
</ion-view>
