/* Empty. Add your own CSS if you like */
.center {
  text-align: center;
}

/*#projectsvg
{
  position: relative;
  width: 100%;
  padding-bottom: 77%;
  vertical-align: middle;
  margin: 0;
  overflow: hidden;
}
#projectsvg svg
{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#rect2
{
  fill:#AAAAAA
}*/

/* ////////////// M A P  C S S /////////// */

#map-figure rect
{
  /*fill:#333333*/
  fill-opacity:0.5;
  stroke-width:1;
  stroke:rgb(3,3,3);
  stroke-opacity:1;
  height: 100px;
  width: 83px;
}

/*video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}*/

/* ////////////// L I S T  C S S /////////// */

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

/*search input*/
.full-width {
  width: 100%;
  background-color: #f8f8f8;
  margin-left: 20px;
}

/*.bar-light.custom
{
  background-color: #eee;
}*/

.has-subheader.custom {
    top: 88px !important;
}

/*.has-tabs-top {
    top: 45px !important;
}*/
